<div id="about" class="about section">
	<div class="href-sperator"></div>
	<div class="container">
		<div class="grey-doll"></div>
		<h1>About</h1>
		<div class="hr"></div>
		<div class="span6">
			<h4><%= @texts[:about_bold].upcase %></h4>
			<div class="about-content"><%= @texts[:about_content] %></div>
			<div class="row">
				<div class="circle about-circle">Photoshop</div>
				<div class="circle about-circle">Illustrator</div>
				<div class="circle about-circle">Flash</div>
				<div class="circle about-circle">HTML/CSS</div>
			</div>
		</div>
		<div class="span4"><div class="about-photo"></div></div>

		
	</div>
</div>
