<div class="portfolio section">
	<div class="container">
		<h1>Portfolio</h1>
		<div class="hr"></div>
		<!--portfolio nav -->
		<div class="row">
			<div class="span2"><div class="circle circle-portfolio circle-shadow">FLASH BANNERS</div></div>
			<div class="span2"><div class="circle circle-portfolio circle-shadow">GIF BANNERS</div></div>
			<div class="span2"><div class="circle circle-portfolio circle-shadow">NEWSLATERS</div></div>
			<div class="span2"><div class="circle circle-portfolio circle-shadow">WEBSITES</div></div>
		</div>


		<div class="grey-doll"></div>
	</div>

</div>