@import "bootstrap";
@import "bootstrap-responsive";

body {
	font-family: 'Questrial', sans-serif;
}

.navbar-inverse .navbar-inner {
	background-color: #212121;
}

header {
	nav {
		display: inline-block;
		margin-top: 25px !important;
	}
	#logo {
		background: url('logo-black.png') no-repeat center center;
		width: 234px;
		height: 77px;
		display: inline-block;
	}
	.nav {
		font-size: 20px;

	}
}


.profile {

	background-color: #F5F5F5;
	padding-top: 95px;
	min-height: 750px;
	.container {
		.big-doll {
			background: url('big-doll.png') no-repeat;
			width: 126px;
			height: 300px;
			
		}
		.profile-container {
			position: relative;
			max-width: 860px;
			margin: 0 auto;
			.span7 {
				margin-left: 0;
			}
			
			.cloud {
				background: url('cloud.png') no-repeat;
				width: 209px;
				height: 164px;
				position: relative;
				top: 30px; left: 72px;
			}
			h1 {
				font-size: 90px;
				margin: 54px 0 47px;
				span {
					color: #8EC63F;
				}
			}
			h2 {
				font-size: 78.5px;
				span {
					color: #8EC63F;
				}
			}
			.profile-title {
				font-size: 20px;
				margin-top: 35px;
			}
		}
	}

}

.section {
	
	h1 {
		display: inline-block;
		position: relative;
		color: #B1B1B1;
		background-color: #F2F2F2;
		top: 50px;
		padding: 0 5px;
		text-align: center;
	}
	.row {
		margin: 0 auto;
		display: inline-block;
	}
}

.portfolio {
	text-align: center;
	background-color: #F2F2F2;
	.href-sperator {
		background-color: #F5F5F5;
	}
	.container {
		min-height: 750px;
		position: relative;
		overflow: hidden;

		.circle-portfolio {
			margin: 0 10px;
			font-size: 17px;
		}
		/*.row {
			margin: 0 auto;
			display: inline-block;
		}*/
	}

	#thumbs {
		margin: 40px 0;
		padding: 0;	
		 li {
			list-style-type: none;
		}
	}

	.item-thumbs {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		cursor: pointer;
		height: 180px;
		.hover-wrap {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			
			opacity: 0;
			filter: alpha(opacity=0);
			
			-webkit-transition: opacity 250ms ease-out 0s;	
			   -moz-transition: opacity 250ms ease-out 0s;
				 -o-transition: opacity 250ms ease-out 0s;
				    transition: opacity 250ms ease-out 0s;
		}
	}

	.item-thumbs a + img {
		width: 100%;	

	}

	

	.item-thumbs:hover .hover-wrap,
	.item-thumbs.active .hover-wrap {
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.item-thumbs .hover-wrap .overlay-img {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #FF8C53;
		
		opacity: 0.45;
		filter: alpha(opacity=45);
	}

	.item-thumbs .hover-wrap .overlay-img-thumb {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -16px 0 0 -16px;
		color: #FFFFFF;
		font-size: 32px;
		line-height: 1em;
		
		opacity: 1;
		filter: alpha(opacity=100);
	}



}

.about {
	background-color: #E6E6E6;
	min-height: 750px;
	text-align: center;
	padding-bottom: 150px;
	.href-sperator {
		background-color: #F2F2F2;
	}
	.container {
		position :relative;
		.grey-doll {
			background: url('grey-doll.png') no-repeat;
			height: 93px;
			width: 132px;
			position: absolute;
			right: 0;
			top: -92px;
		}
	}
	h1 {
		background-color: #E6E6E6;
	}
	h4 {
		font-size: 20px;
		line-height: 24px;
	}
	.about-photo {
		background: url('face.png') no-repeat center top;
		width: 381px;
		height: 520px;
		position: relative;
		top: -30px;
	}
	.about-content {
		font-size: 17px;
		line-height: 22px;
		margin-top: 15px;
	}
	.about-circle {
		width: 100px;
		height: 100px; 
		line-height: 100px;
		border: 1px solid;
		margin:10px;
		display: inline-block;
		font-size: 18px;
	}
	/*.row {
			margin: 0 auto;
			display: inline-block;
		}*/

}

.contact {
	color: #6C6C6C;
	background-color: #1F1F21;
	font-size: 17px;
	text-align: center;
	h1 {
		background-color: #1F1F21;
		color: #373739;
	}
	.hr {
		background: -webkit-linear-gradient(left,rgba(228, 228, 228, 0) 0,#1F1F21 50%,#1F1F21 50%,rgba(228, 228, 228, 0) 99%);
		background: -moz-linear-gradient(left,rgba(228, 228, 228, 0) 0,#1F1F21 50%,#1F1F21 50%,rgba(228, 228, 228, 0) 99%);
		background: -o-linear-gradient(left,rgba(228, 228, 228, 0) 0,#1F1F21 50%,#1F1F21 50%,rgba(228, 228, 228, 0) 99%);
		background: -ms-linear-gradient(left,rgba(228, 228, 228, 0) 0,#1F1F21 50%,#1F1F21 50%,rgba(228, 228, 228, 0) 99%);
		background: linear-gradient(left,rgba(228, 228, 228, 0) 0,#1F1F21 50%,#1F1F21 50%,rgba(228, 228, 228, 0) 99%);

	}
	.row {
		text-align: left;
	}
}

.footer {
	padding: 20px 0 50px;
	text-align: center;
	span {
		display: inline-block;
	}
	.footer-doll {
		background: url('small-doll.png') no-repeat center center;
		width: 49px;
		height: 76px;

	}
	.footer-label {
		color:#ACACAC;
	}
}



/* -----------------------------------------
   10. ADDITIONAL STYLES SECTION
----------------------------------------- */
.green-label {
	color: #8EC63F;
}
.hr,
.hrc,
.tmhr {
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	background: -webkit-linear-gradient(left,rgba(228, 228, 228, 0) 0,#B1B1B1 20%,#B1B1B1 80%,rgba(228, 228, 228, 0) 99%);
	background: -moz-linear-gradient(left,rgba(228, 228, 228, 0) 0,#B1B1B1 20%,#B1B1B1 80%,rgba(228, 228, 228, 0) 99%);
	background: -o-linear-gradient(left,rgba(228, 228, 228, 0) 0,#B1B1B1 20%,#B1B1B1 80%,rgba(228, 228, 228, 0) 99%);
	background: -ms-linear-gradient(left,rgba(228, 228, 228, 0) 0,#B1B1B1 20%,#B1B1B1 80%,rgba(228, 228, 228, 0) 99%);
	background: linear-gradient(left,rgba(228, 228, 228, 0) 0,#B1B1B1 20%,#B1B1B1 80%,rgba(228, 228, 228, 0) 99%);
}

.hr {
	margin: 20px auto 45px;
}
.hrc{
	margin: 30px auto 10px;	
}
.separator{
	display: block;
	width: 100%;
	height: 1px;
	float: left;
	background: -webkit-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
	background: -moz-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
	background: -o-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
	background: -ms-linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
	background: linear-gradient(left,rgba(228, 228, 228, 0) 0,#E4E4E4 20%,#E4E4E4 80%,rgba(228, 228, 228, 0) 99%);
	clear: both;
	margin: 55px 0;
}
.separator.special{
	text-align: center;
}
.separator.special .inside{
	font-size: 40px;
	color: #999;
	margin-top: -23px;
	font-weight: bold;
}
.hr-shadow {
	display: block;
	clear: both;
	margin: 55px auto 55px auto;
	width: 90%;
	height: 60px;
	overflow: hidden;
}
.hr-shadow .edge {
	height: 1px;
	background: #E4E4E4;
	background: -webkit-linear-gradient(left,white 0,#E4E4E4 20%,#E4E4E4 80%,white 99%);
	background: -moz-linear-gradient(left,white 0,#E4E4E4 20%,#E4E4E4 80%,white 99%);
	background: -ms-linear-gradient(left,white 0,#E4E4E4 20%,#E4E4E4 80%,white 99%);
	background: -o-linear-gradient(left,white 0,#E4E4E4 20%,#E4E4E4 80%,white 99%);
	background: linear-gradient(left,white 0,#E4E4E4 20%,#E4E4E4 80%,white 99%);
}
.hr-shadow .shadow {
	height: 40px;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: -60px;
	-webkit-box-shadow: 0 0 130px #CCC;
	-moz-box-shadow: 0 0 130px #ccc;
	-ms-box-shadow: 0 0 130px #ccc;
	-o-box-shadow: 0 0 130px #ccc;
	box-shadow: 0 0 130px #CCC;
}

.circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 150px;
	height: 150px; 
	line-height: 150px;
	text-align: center;
}

.circle-shadow {
	webkit-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
	-moz-box-shadow: -6px -8px 10px #F8A50E, -4px 7px 10px #BFF80E, 6px -4px 10px #0ED6F8;
	/*box-shadow: -5px 0px 0px #B1B1B1;*/
	box-shadow:-2px 1px 2px #B1B1B1;
}
#back-to-top {
	z-index: 999;
	display:none;
	a {
		width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:50px;
    
    text-indent:-9999px;
    background: url('icon_top.png') no-repeat;

    /* transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;

    &:hover {
    	opacity: 1;
    };
	}
}

	/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;        
  
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width; /* Safari/Chrome, other WebKit */       /* Firefox, other Gecko */            /* Opera/IE 8+ */;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.href-sperator {
	padding-top: 85px;
	margin: 0;
}

